name: MC Bot

on:
  push:
  schedule:
    - cron: '0 * * * *'
  workflow_dispatch:

jobs:
  bot:
    runs-on: ubuntu-latest
    timeout-minutes: 50
    
    steps:
    - uses: actions/checkout@v3
    - uses: actions/setup-node@v3
      with:
        node-version: '18'
    - run: npm install
    - run: npm start
      env:
        HOST: ${{ secrets.HOST }}
        PORT: ${{ secrets.PORT }}
        BOT_NAME: ${{ secrets.BOT_NAME }}
        VERSION: ${{ secrets.VERSION }}
        JUMP_INTERVAL: ${{ secrets.JUMP_INTERVAL }}
